.hl-flex {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.hl-flex-column {
    flex-direction: column;
}

.hl-flex-row {
    flex-direction: row;
}

.hl-flex-alignItemsStart {
    align-items: flex-start;
}

.hl-flex-alignItemsCenter {
    align-items: center;
}

.hl-flex-justifyContentCenter {
    justify-content: center;
}

.hl-flex-justifyContentAround {
    justify-content: space-around;
}

.hl-flex-justifyContentBetween {
    justify-content: space-between;
}
