h1 {
    font-size: 5rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Merriweather Sans', sans-serif;
}

h3, h4, h5, h6 {
    line-height: 1.75;
}

.white {
    color: white;
}
