html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.margin-top-5pct {
    margin-top: 5%;
}

.margin-top-10pct {
    margin-top: 10%;
}

.margin-top-15pct {
    margin-top: 15%;
}

.margin-top-20pct {
    margin-top: 20%;
}

.margin-bottom-5pct {
    margin-bottom: 5%;
}

.margin-bottom-10pct {
    margin-bottom: 10%;
}

.margin-bottom-15pct {
    margin-bottom: 15%;
}

.margin-bottom-20pct {
    margin-bottom: 20%;
}
